.NavItem {
  margin: 0;
  height: 90%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.NavItem a {
  color: white;
  text-decoration: none;
  height: 100%;
  padding: 16px 16px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: block;
}
.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
  background-color: grey;
  border-bottom: 4px solid white;
  color: black;
}
