.Board {
  display: grid;
  grid-template-columns:
    auto auto auto auto auto auto auto auto auto auto
    auto auto auto auto auto auto auto auto auto auto
    auto auto auto auto auto auto auto auto auto auto
    auto auto auto auto auto;

  background-color: white;
  padding-top: 5%;
  padding-bottom: 1%;
}
