.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 2%;
  margin: 0 5px;
  width: 80px;
  border: 2px solid black;
  cursor: pointer;
  outline: none;
  background-color: white;
}

.BuildControl button:hover {
  background-color: grey;
  border: 2px solid black;
  color: black;
}

.Label {
  padding: 2%;
  font-weight: bold;
  width: 60px;
}

.BuildControl input {
  width: 30px;
  margin: 2% 2%;
}

.BuildControl input:hover {
  border: 1px solid black;
}
